@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600&display=swap");

/*general setting*/
body {
  margin: 0;
  padding: 0;

  background-color: #fffcf8;
  color: #404040;
}
h1 {
  font-family: Abril Fatface, Times New Roman, serif;
  font-weight: lighter;
  font-size: 2rem;
  margin: 0;
}
h2 {
  padding: 0;
  margin: 0;
  font-family: Abril Fatface, Times New Roman, serif;
  font-weight: lighter;
  font-size: 1.5rem;
}
p {
  font-family: Poppins, arial, sans-serif;
  font-size: 1.2rem;
  margin: 0;
}
/*header*/
header {
  position: relative;
  margin: 0 10% 0 10%;
}
#navbar {
  position: absolute;
  top: 10%;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
}
#navbar nav {
  display: grid;
  grid-template-columns: auto auto auto;
}
#navbar figure {
  padding: 0;
  margin: 0;
}
#menu {
  grid-column: 3/4;
  width: 20%;
  align-self: center;
  justify-self: end;
}
#logo {
  grid-column: 2/3;
  width: 90%;
  align-self: center;
  justify-self: center;
}
#navbar a {
  color: #4d87c9;
}
#navbar p {
  font-size: 0.9rem;
  padding-top: 2%;
}
#navbar a:hover {
  color: #60a8ec;
}
#navbar a:active {
  color: white;
}

/*burger menu*/
.hide {
  visibility: hidden;
}
#popUp {
  background-color: #60a8ec;
  width: 110%;
  position: relative;
  left: -15%;
  top: 0%;
  z-index: 120;
  padding: 5% 10% 10% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30%;
  grid-template-rows: auto auto;
}
#cross {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  grid-column: 3/4;
}
#cross img {
  max-width: 10%;
}
#logo-negative {
  margin: 0%;
  width: 70%;
  grid-column: 1/2;
  grid-row: 1/2;
}
#logo-negative img {
  max-width: 100%;
}

#popUp nav {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  grid-column: 1/4;
  grid-row: 2/3;
}
#popUp ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#popUp a {
  text-decoration: none;
  color: white;
  font-family: Poppins, arial, sans-serif;
  font-size: 0.8rem;
}
#popUp a:hover {
  font-weight: bolder;
}

/*main*/
main {
  margin: 2% 10% 10% 10%;
}
main ul {
  list-style-type: none;
  margin: 5% 0 0 0;
  padding: 0;
}
main li {
  margin-bottom: 10%;
  background-color: #fffcf8;
  padding: 2%;
}
.product {
  aspect-ratio: 0.75/1;
  background-image: url(https://kea-alt-del.dk/t7/images/webp/640/1525.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;

  display: grid;
  align-items: end;
  justify-items: right;
}
main a {
  text-decoration: none;
}
.sale {
  padding: 5% 10% 5% 5%;
  background-color: #60a8ec;
  color: white;
}
.productText {
  margin-top: 5%;
  display: grid;
  grid-template-columns: auto auto;
}
.soldOut {
  color: #4d87c9;
  font-weight: bolder;
  grid-column: 1/3;
  margin-bottom: 3%;
}
.brand {
  grid-column: 1/3;
}
.productName {
  grid-column: 1/3;
}
.price {
  grid-row: 6/7;
  grid-column: 2/3;
  margin-top: 3%;

  font-weight: bolder;
  justify-self: right;
}
.newPrice {
  color: #60a8ec;
  grid-row: 6/7;
  grid-column: 2/3;
  margin-top: 3%;

  font-weight: bolder;
  justify-self: right;
}
/*small horizontal screens*/

@media only screen and (min-width: 650px) {
  #logo {
    grid-column: 1/2;
    width: 60%;
    align-self: center;
    justify-self: left;
  }
  #menu {
    width: 15%;
  }

  #navbar p {
    margin: 0;
  }

  /*burger menu*/
  #popUp {
    row-gap: 50%;
    padding-bottom: 20%;
  }
  #popUp nav {
    grid-column: 2/3;
  }
  #popUp ul {
    margin: 0;
    flex-direction: column;
    text-align: center;
  }
  #popUp li {
    padding-top: 5%;
  }
  #popUp a {
    font-size: 1rem;
  }
  #logo-negative {
    width: 50%;
  }

  /*main*/
  main {
    margin-top: -12%;
  }

  h2 {
    font-size: 1.2rem;
    padding-bottom: 3%;
  }
  p {
    font-size: 0.8rem;
  }
  main ul {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10%;
    row-gap: 5%;
  }
  main li:hover {
    transform: scale(1.1, 1.1);
  }
  .price {
    font-size: 1.2rem;
  }
  .product {
    margin: 0%;
  }
}

/*big screen*/
@media only screen and (min-width: 1200px) {
  #logo {
    grid-column: 1/2;
    width: 40%;
  }
  #menu {
    width: 12%;
  }

  #navbar p {
    margin-top: 2%;
  }

  /*burger menu*/
  #popUp {
    row-gap: 60%;
    padding-bottom: 15%;
  }

  #logo-negative {
    width: 40%;
  }

  /*main*/
  main {
    margin-top: -12%;
  }
  main ul {
    row-gap: 0%;
    grid-template-columns: repeat(4, 1fr);
  }
  main li {
    height: 50%;
    width: auto;
  }
}
